
$primary_orange: hsl(25, 97%, 53%);
$neutral_white: hsl(0, 0%, 100%);
$neutral_light_grey: hsl(217, 12%, 63%);
$neutral_medium_grey: hsl(216, 12%, 54%);
$neutral_dark_blue: hsl(213, 19%, 18%);
$neutral_very_dark_blue: hsl(216, 12%, 8%);